*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:blueviolet;

}
.wrapper{
    background-color: rgb(255, 255, 255);
    /* min-height:calc(100vhh - 56px- 40px); */
   min-height:calc(100vh - 56px - 40px) ;


}